body, html {
  background-color: rgba(128, 128, 128, 0.32);
  margin: 0;
  padding: 0;
}

svg {
  left: 0;
  position: absolute;
  top: 0;
}

svg#map-canvas {
  background-color: #84d5f3;
}

.background {
  fill: #a4bac7;
}

.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

.graticule:nth-child(2n) {
  stroke-dasharray: 2,2;
}

.airports {
  fill: #036;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.ports {
  fill: red;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.populated_places {
  fill: green;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.urban_areas {
  fill: blue;
}

.land {
  fill: #d7c7ad;
  stroke: #766951;
}

.boundary {
  fill: none;
  stroke: #a5967e;
}

.route {
  fill: none;
  stroke-width: 0;
}

div.banner {
  position: absolute;
  width: 100%;
  padding: 5px;
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  
  .title {
    margin: 0 auto;
    background-color: green;
    text {
      font-family: 'Bitter', serif;
      font-size: 20px;
    }
  }
}

/*
.traceroute {
   stroke: white;
   fill-opacity: 0;
   stroke-width: 2px;    
   opacity: 0.5;
}*/
